body {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;

}

.item{
    font-family: Arial;

}

div{
    margin:auto;
    width: 50%;
}
.button {
    background-color: #2b29a5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    width: 50%;
  }

.check{
    min-height: 24px;
    min-width: 24px;
}