{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <h1>Start Page</h1>
    <p>This is a test to determine whether or not a guy is a red flag</p>
    <p>This is purely a diagnostic screening and will not always be accurate</p>
    <p>Certain red flags have been marked to automatically fail the test if he has them</p>
    <p>In order to pass the test the guy must score under 100 and not have any of the flags that have been marked as no gos</p>

</div>
<div>
<a href="{{url_for(nextlink)}}">
    <button class="button">Next</button>
</a>
</div>

<script>
    localStorage.setItem('Page Index', '0')
</script>

{% endblock %}
